@model List<IntoSport.Models.Omzet>
@{Html.RenderPartial("ManagerHead");}
@{Html.RenderPartial("ManagerMenu");}


<div class="row">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>3 Meest verkochte producten</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Merk/Naam</th>
                     
                                <th>Aantal</th>
                                <th>Omzet</th>
                            </tr>
                        </thead>
<tbody>
    @foreach (IntoSport.Models.Omzet omzet in Model )
                        {

        <tr>
            <td>@omzet.product_naam</td>
         
            <td>@omzet.aantal_verkochte</td>
            <td>$@omzet.omzet</td>
        </tr>
    }
    @if(Model.Count == 0)
    {
        <tr>
            <td colspan="3">Er zijn geen producten verkocht.</td>
         </tr>
    }
       
                    </tbody>
                    </table>
                </div>
            </div>

            <!-- /.container-fluid -->@{Html.RenderPartial("ManagerFooter");}
