@using IntoSport.Models;

@{Html.RenderPartial("ManagerHead");}
@{Html.RenderPartial("ManagerMenu");}

@model Product

<h1>Productenoverzicht</h1>
<p>Hier krijgt u een overzicht te zien met alle producten.</p>
<br /><br />

@using (Html.BeginForm())
{
    
    <input type="text" name="search" placeholder="Zoek een product..," value="@ViewData["search"]" class="form-control" style="width: 300px; float: left; margin-right: 15px;" /> 
    <input type="submit" value="Zoeken" class="btn btn-default" />

    <br /><br />
    
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <td>Naam</td>
            <td>Prijs</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(Dictionary<string, object> products in (List<Dictionary<string, object>>)ViewData["products"])
            {
                <tr>
                    <td>@products["naam"]</td>
                    <td>&euro; @products["prijs"]</td>
                    <td><a href="/admin/products?productID=@products["id"]">Wijzig</a></td>
                    <td>Verwijder</td>
                </tr>
            }
        }
    </tbody>
</table>
}
@{Html.RenderPartial("ManagerFooter");}
