<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="http://@Request.ServerVariables["HTTP_HOST"]/" />
    <title>Sportzaak IntoSport | Klantvriendelijkheid, expertise en maatwerk</title>
    <link href="@Url.Content("Template/css/admin_style.css")" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100,900' rel='stylesheet' type='text/css'>
</head>
<body>