		</div>
	</div>
<footer>
    <div class="wrapper">
        <div class="innerWrapper">
            <div class="about">
                <h4>Over IntoSport</h4>
                <ul>
                    <li><a href="/home/about">Het bedrijf</a></li>
                  
                </ul>
            </div>
            <div class="contact">
                <h4>Contact</h4>
                <p>
                    Bel (NUMMER) - (PRIJS)<br />
                    (OPENINGSTIJDEN)<br />

                    (ADRES GEGEVENS)<br />

                    Of stuur ons hier een e-mail
                </p>
            </div>
            <div class="service">
                <h4>Onze Klantenservice</h4>
                <ul>
                    <li><a href="#">Meest gestelde vragen (F.A.Q.)</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>