</div></body>
<!-- jQuery Version 1.11.0 -->
<script src="@Url.Content("Template/js/jquery-1.11.0.js")"></script>

<!-- Bootstrap Core JavaScript -->
<script src="@Url.Content("Template/js/bootstrap.min.js")"></script>

</html>