@{
    ViewBag.Title = "account";
}

@{Html.RenderPartial("BaseHead");}

<div class="row">
<a class="btn btn-lg btn primary"> Mijn gegevens</a>&nbsp;&nbsp;&nbsp;<a class="btn btn-lg btn-primary"> Mijn bestellingen</a>
    </div>
@{Html.RenderPartial("BaseFooter");}