@using IntoSport.Models
@using System.Web.Mvc.Html;

@{Html.RenderPartial("baseHead");}
@{
    ViewBag.Title = "Bestellingen";
}
@model List<IntoSport.Models.Order>


<h2>Bestellingen</h2>
<div class="row" >

    <table class="table table-bordered" >

        <thead>
            <tr class="active"><td>Datum</td><td>Producten</td><td>Status</td></tr>
        </thead>
        <tbody>
       @{
           if (ViewData["orders"] != null) { 
               foreach (Dictionary<string, object> order in (List<Dictionary<string, object>>)ViewData["orders"])
               {
                <tr>
                    <td>@order["datum"]</td>
                    <td></td>
                    <td>@order["status"] <form action="/klant/Bestellingen" method="post">
                    <input type="hidden" name="orderID" value="@order["id"]" />
                    <input type="submit" value="Annuleren" />       
                    </form></td>
                    
                </tr>   
               }
           }
           
       }
            </tbody>
    </table>


</div>

@{Html.RenderPartial("baseFooter");}