@{
    ViewBag.Title = "account";
}

@{Html.RenderPartial("BaseHead");}

<div class="row">
    <a  href="/Klant/account"class="btn btn-lg btn-primary"> Mijn gegevens</a>&nbsp;&nbsp;&nbsp;<a  href="/Klant/bestellingen"class="btn btn-lg btn-primary"> Mijn bestellingen</a>
</div>
@{Html.RenderPartial("BaseFooter");}