@{Html.RenderPartial("BaseHead");}


<div class="featuredProducts">
    <div class="productsContainer">
        @{ 
        
            foreach (var product in ViewData["product"] as IEnumerable<IntoSport.Models.Product>)
         {
                <a href="/product/detail?id=@product.id">
            <div class="products well-sm">
                <div class="productImg"> 
                    <img src="@product.thumbnail" class="img-thumbnail"/>
                </div>
                <p></p>
                <div class="productDetails">
                    <h3>@product.naam</h3>
                    <p>&euro;@product.prijs</p>
                    <a href="/cart/addToCart?ID=@product.id&Quantity=1" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> winkelwagen</a>
                    

                </div>
            </div></a>
         }
          
         }

        
    </div>
</div>
@{if(Model != null)
  {
      
  
    
    if (Model.Count < 20)
    {
        <div class="pagination">
            <a href="#">&laquo; Vorige</a>
            <a class="active" href="">1</a>
            <a href="">2</a>
            <span>...</span>
            <a href="">9</a>
            <a href="">10</a>
            <a href="#">Volgende &raquo;</a>
        </div>
}
    }
}


@{Html.RenderPartial("BaseFooter");}