@{Html.RenderPartial("BaseHead");}

<h1>Categroie 1 &raquo; Sub-categorie 2</h1>
<div class="featuredProducts">
    <div class="productsContainer">
        <div class="products">
            <div class="productImg">
            </div>
            <div class="productDetails">
                <h3>Nike Schoen</h3>
                <p>&euro;40,00</p>
                <a href="#">Plaats in winkelwagen &raquo;</a>
            </div>
        </div>
        <div class="products">
            <div class="productImg">
            </div>
            <div class="productDetails">
                <h3>Nike Schoen</h3>
                <p>&euro;40,00</p>
                <a href="#">Plaats in winkelwagen &raquo;</a>
            </div>
        </div>
        <div class="products">
            <div class="productImg">
            </div>
            <div class="productDetails">
                <h3>Nike Schoen</h3>
                <p>&euro;40,00</p>
                <a href="#">Plaats in winkelwagen &raquo;</a>
            </div>
        </div>
        <div class="products">
            <div class="productImg">
            </div>
            <div class="productDetails">
                <h3>Nike Schoen</h3>
                <p>&euro;40,00</p>
                <a href="#">Plaats in winkelwagen &raquo;</a>
            </div>
        </div>
    </div>
    <div class="productsContainer">
        <div class="products">
            <div class="productImg">
            </div>
            <div class="productDetails">
                <h3>Nike Schoen</h3>
                <p>&euro;40,00</p>
                <a href="#">Plaats in winkelwagen &raquo;</a>
            </div>
        </div>
        <div class="products">
            <div class="productImg">
            </div>
            <div class="productDetails">
                <h3>Nike Schoen</h3>
                <p>&euro;40,00</p>
                <a href="#">Plaats in winkelwagen &raquo;</a>
            </div>
        </div>
        <div class="products">
            <div class="productImg">
            </div>
            <div class="productDetails">
                <h3>Nike Schoen</h3>
                <p>&euro;40,00</p>
                <a href="#">Plaats in winkelwagen &raquo;</a>
            </div>
        </div>
        <div class="products">
            <div class="productImg">
            </div>
            <div class="productDetails">
                <h3>Nike Schoen</h3>
                <p>&euro;40,00</p>
                <a href="#">Plaats in winkelwagen &raquo;</a>
            </div>
        </div>
    </div>
</div>
<div class="pagination">
    <a href="#">&laquo; Vorige</a>
    <a class="active" href="">1</a>
    <a href="">2</a>
    <span>...</span>
    <a href="">9</a>
    <a href="">10</a>
    <a href="#">Volgende &raquo;</a>
</div>

@{Html.RenderPartial("BaseFooter");}