@using IntoSport.Models;
@{Html.RenderPartial("BaseHead");}

@{
    var total = 0.0;
}
<div class="cartWrapper">
    <table>
        <thead>
            <tr>
                <td>Producten</td>
                <td>Details</td>
                <td>Prijs</td>
            </tr>
        </thead>
        @{if (Request.Cookies["cart"] != null) {
              var productList = ViewData["productList"] as List<Product>;
              var quantList = ViewData["quantList"] as List<int>;
              for (int i = 0; i < productList.Count; i++)
              {
                  total += productList[i].prijs * quantList[i];
                  var productTotal = productList[i].prijs * quantList[i];
                <tbody>
                    <tr>
                        <td>@productList[i].naam <br /><br /> @productList[i].id <br /><br /> <a href="/cart/remove/@productList[i].id">Verwijder</a></td>
                        <td><div>Prijs p/s:</div> &euro;@productList[i].prijs <br /><br /> <div>Aantal:</div> @quantList[i]</td>
                        <td>&euro;@productTotal</td>
                    </tr>
                </tbody>
              }
        }
        }
    </table>

    <table class="total">
        <tr>
            <td><div>Totaal (incl. BTW):</div> &euro; @total</td>
        </tr>
    </table>

    <div class="cartButtons">
        <a href="#">&laquo; Verder winkelen</a>
        <a href="/Cart/bestel">Bestellen &raquo;</a>
    </div>
</div>

@{Html.RenderPartial("BaseFooter");}