@using IntoSport.Models;
@{Html.RenderPartial("BaseHead");}

@{
    var total = 0.0;
    var CPVList = ViewData["CPVList"] as List<CartProductView>;
}
<div class="cartWrapper">
    <table class="products">
        <thead>
            <tr>
                <td>Producten</td>
                <td>Details</td>
                <td>Prijs</td>
            </tr>
        </thead>
        @{if (CPVList != null)
        {
            int index = 0;
            foreach (CartProductView CPV in CPVList)
            {
                double productTotal = CPV.Product.prijs * CPV.Hoeveelheid;
                <tbody>
                    <tr>
                        <td>@CPV.Product.naam <br /><br />  <br /><br /> <a href="/cart/remove/@index">Verwijder</a></td>
                        <td><div>Prijs p/s:</div> &euro;@CPV.Product.prijs <br /><br /> <div>Aantal:</div> @CPV.Hoeveelheid</td>
                        <td>&euro;@productTotal</td>
                    </tr>
                </tbody>
            }
        }
        }
    </table>

    <table class="total">
        <tr>
            <td><div>Totaal (incl. BTW):</div> &euro; @total</td>
        </tr>
    </table>

    <div class="cartButtons">
        <a href="/">&laquo; Verder winkelen</a>
        <a href="/Cart/bestel">Bestellen &raquo;</a>
    </div>
</div>

@{Html.RenderPartial("BaseFooter");}