@using IntoSport.Models;
@{Html.RenderPartial("BaseHead");}

@{
    Product product;
}

<div class="cartWrapper">
    <table>
        <thead>
            <tr>
                <td>Producten</td>
                <td>Details</td>
                <td>Prijs</td>
            </tr>
        </thead>
        @{if (Request.Cookies["cart"].Value != null) { }
            foreach (Dictionary<string, Product> productTuple in (List<Dictionary<string, Product>>)ViewData["Productlist"])
            {
                product = productTuple["product"];
            <tbody>
                <tr>
                    <td>@product.naam <br /><br /> @product.id <br /><br /> <a href="/product/@product.id">Verwijder</a></td>
                    <td><div>Prijs p/s:</div> &euro;@product.prijs <br /><br /> <div>Aantal:</div> 1</td>
                    <td>&euro;40,00</td> 
                </tr>
            </tbody>   
            }}
        }
    </table>

    <table class="total">
        <tr>
            <td><div>Totaal (incl. BTW):</div> &euro; 40,00</td>
        </tr>
    </table>

    <div class="cartButtons">
        <a href="#">&laquo; Verder winkelen</a>
        <a href="/Cart/Bestel">Bestellen &raquo;</a>
    </div>
</div>

@{Html.RenderPartial("BaseFooter");}